/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
HTML + NAVBAR + CARIMAGE WITH INFO
**/
body {
  background: #ececec;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body .main {
  flex: 1;
}

header {
  z-index: 2;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
header .top-logo {
  max-width: 37%;
  height: auto;
  margin-left: 3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-bottom: 0.4rem;
}
header .menu_btn {
  max-width: 5%;
  max-height: auto;
  float: right;
  margin-top: 1.57rem;
  margin-right: 0.9rem;
  padding-bottom: 1rem;
}
header span {
  color: white;
  float: right;
  margin-right: 0.5rem;
  margin-top: 1.65rem;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.carImgInfo_section {
  position: relative;
  overflow: hidden;
}
.carImgInfo_section .yellowCar_bg_blured {
  width: 100%;
  margin-top: -11px;
  height: auto;
}
.carImgInfo_section .main_info_text {
  position: absolute;
  width: 65%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.carImgInfo_section h1 {
  font-family: "Open Sans", sans-serif;
  background-color: #154734;
  color: white;
  text-align: center;
  font-weight: Bold;
  padding-top: 1.5rem;
  font-size: 1.5rem;
}
.carImgInfo_section p {
  font-family: "Open Sans", sans-serif;
  background-color: #154734;
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 1.2rem;
  line-height: 1.5;
}

/** MAIN CONTENT **/
.name-container {
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  line-height: 1.3rem;
  margin-right: 0.4rem;
}

nav {
  text-align: center;
  margin-top: 1rem;
}
nav li {
  list-style: none;
  background-color: #154734;
  width: 12.5%;
  padding: 1rem 0.8rem;
  text-align: center;
  display: block;
  margin: 1rem;
  display: inline-block;
}
nav li:hover {
  background-color: black;
}
nav li a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
nav .active {
  background-color: black;
}

.flexbox-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  padding-bottom: 1rem;
}
.flexbox-container .generalInfo_container {
  margin-top: 1rem;
  font-family: arial, sans-serif;
  width: 80%;
}
.flexbox-container .generalInfo_container .infoTitle {
  background-color: #046a38;
  color: white;
  padding: 0.7rem 0;
  padding-left: 0.5rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.flexbox-container .generalInfo_container .paragraphText {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-align: justify;
}
.flexbox-container .login_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.flexbox-container .login_container .logga_in_btn {
  color: #ffffff;
  font-family: Arial;
  font-size: 1.9rem;
  font-weight: 100;
  width: 80%;
  height: 5rem;
  background-color: #046a38;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
.flexbox-container .login_container .logga_in_btn:hover {
  background: #000000;
  text-decoration: none;
}

/** MAIN CONTENT - END **/
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  padding: 2rem;
  color: white;
  background-color: #000000;
  line-height: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
footer img {
  width: 15%;
  height: auto;
}

/** Smaller screens */
@media (max-width: 900px) {
  .flexbox-container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
  .carImgInfo_section img {
    display: none;
  }
  .carImgInfo_section .main_info_text {
    width: 100%;
    position: relative;
  }
  .name-container {
    text-align: center;
    margin-top: 1rem;
  }
  nav li {
    padding: 0.8rem;
    width: 33.3333333333%;
    margin: 0.5rem;
  }
  .generalInfo_container {
    width: 98% !important;
  }
  .generalInfo_container .infoTitle {
    text-align: center;
  }
  footer img {
    width: 38%;
  }
}
.synpunkter {
  grid-template-columns: 1fr;
}/*# sourceMappingURL=style.css.map */