.table-container{
    

display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 3rem;
overflow-x:auto;
//border: 2px solid blue;

h1 {
    font-size: 1.4rem;
    font-family: 'arial';
    font-weight: bolder;
    padding: 1rem 0;
}

.title2{
    padding-top: 4rem;
}
table{
    width: 80%;
}

th{
    border: 0.1rem solid black;
    padding: 1rem;
    font-weight: bolder;
    font-family: 'arial';
    font-size: 1.1rem;
    text-align: center;
}

table,tr,td {
    border: 0.1rem solid black;
    padding: 1rem;
    font-weight:800;
   font-family: 'open sans';
    font-size: 1rem;
    text-align: center;
}

tr:nth-child(odd) {background-color: #D1E0D7;}

.icons,a{

    all:unset;
    cursor: pointer;
}
}

@media (max-width: 900px) {

.table-container {
    align-items: normal !important;
}

table {
    width: 98% !important;


}

}
